@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Lobster&family=Zeyada&display=swap');

.main {
    position: absolute;
    top: 25px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../img/holding_phone.jpg');
    background-size: cover;
    background-position: 65% center;
}

.login_container {
    position: absolute;
    right: 745px;
    width: 24%;
    height: 30%;
    border-radius: 10px;
    padding: 25px;

}

.logo_box {
    width: 100px;
}

.form_title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1b561b;
    margin-bottom: 9px;
}

.login_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #000000;
    font-size: 0.8rem;
}

.div_wrapper {
    width: 100%;
    display: flex;
    margin: 4px 0;
}

.message {
    width: 100%;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    color: #ffffff;
    background-color: #c20202;
}

.form_input_box {
    width: 100%;
}

.form_data_wrapper {
    width: 100%;
}

.form_title {
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    position: absolute;
    top: -15%;
    right: 36%;
    color: rgb(52, 255, 26);
}

.input_box {
    width: 100%;
    padding: 6px;
    outline: none;
    border-radius: 5px;
    margin: 4px 0px;
    background-color: rgba(255, 255, 255, 0.808);
    border: 1px solid #000000;
}

.input_box:focus {
    border: 2px solid #5fba5f;
}

.invalid_user {
    color: rgb(170, 28, 28);
    font-weight: normal;
}

.login_box {
    width: 100%;
    margin: 8px 6px;
}

.login_button {
    width: 100%;
    background-color: #217f21;
    color: white;
    border-radius: 5px;
    padding: 6px;
    margin-top: 12px;
}

.login_button:hover {
    background-color: #1f5d1f;
}

.login {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 0.8rem;
}

.login_wrapper {
    color: #73ff00;
}

.login {
    color: #ffffff;
}

.forgot_password_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.remember_me {
    display: flex;
    color: #f1fffe;
}

.remember_me_text {
    margin-left: 6px;
}

.forgot_password_text {
    color: #000000;
}

.password_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 6px;
    outline: none;
    border-radius: 5px;
    margin: 4px 0px;
    background-color: white;
    border: 1px solid #000000;
}

.password_input_box {
    width: 90%;
    background-color: transparent;
    outline: none;
    border: none;
}

.eye_botton {
    color: #919591;
    border: none;
    background: none;
}


@media only screen and (min-width: 1920px) and (max-width: 1920px) {
    .main {
        position: absolute;
        top: 45px;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../../img/holding_phone.jpg');
        background-size: cover;
        background-position: center; /* Izmanto centru, lai uzlabotu izskatu */
    }

    .login_container {
   margin-right: -297px;
        top: 50%; /* Pozicionēšanu uz centru vertikāli */
        transform: translate(-50%, -50%); /* Uzlabo centru uz ekrānu */
        width: 22%;
        height: 35%;
        border-radius: 10px;
        padding: 30px;
     
    }

    .form_title {
        font-size: 1.6rem;
        color: rgb(42, 255, 16); /* Izmantot zaļo krāsu tekstam */
        margin-bottom: 20px; /* Papildus attālums no citiem elementiem */
    }

    .input_box {
        font-size: 1rem;
        padding: 8px;
    }

    .login_button {
        padding: 8px;
        font-size: 1rem;
    }

    .password_box {
        padding: 8px;
    }
}