@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

.carousel {
  position: relative;
  width: 100%;
  margin-top: -220px;
 
}

.carousel__indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -30px; /* Palielināts attālums no augšas, lai paceltu uz augšu */
  width: 100%;
  z-index: 10;
}

.carousel__indicator {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0 4px;
  cursor: pointer;
}

.carousel_button {
  position: absolute;
  top: 88%;
  left: 84%;
  padding: 10px 30px;
  border: none;
  background: #fff;
  color: #fff;
  width: 180px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 400;
  border-radius: 8px;
  transition: 0.5s;
  z-index: 1;
  --clr: #6eff3e; /* Set the green color */
}

.carousel_button:hover {
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

.carousel_button::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #151F28;
  z-index: -1;
  border-radius: 6px;
}

.carousel_button span {
  position: relative;
  z-index: 1;
}

.carousel_button i {
  position: absolute;
  inset: 0;
  display: block;
  z-index: 0;
}

.carousel_button i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #151F28;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.carousel_button:hover i::before {
  width: 20px;
  left: 20%;
}

.carousel_button i::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #151F28;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.carousel_button:hover i::after {
  width: 20px;
  left: 80%;
}

.carousel__info {
  position: absolute;
  left: 25%;
  top: -7%;
  flex: 0 0 400px; /* Platums informācijas stabam */
  margin-left: 20px;
  display: flex;
  flex-direction: column; /* Informācijas izvietošana vertikāli */
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid black;
  padding: 40px; /* Iekšējā atstarpe visiem malām */
  background-color: #ffffff1a; /* Pievienots fona krāsa, lai labāk izceltu tekstu */
  border-radius: 12px; /* Noapaļoti stūri, lai izskatās labāk */
  border: 1px solid #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  width: 1200px;
  height: 550px;
}

.carousel__info h3 {
  position: relative;
  top: -100px; /* Adjust as needed */
  left: 10%; /* Adjust as needed */
  font-size: 42px;
  background-color: rgba(0, 0, 0, 0.829);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}


/* Stilizēt specifikāciju nosaukumus */
.spec-label {
  color: #000000; 
  font-weight: bold; 
}

/* Stilizēt specifikācijas vērtības */
.spec-value {
  position: absolute;
  color: #ffffff; 
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.534);
}

.carousel__background {
  position: absolute;
  top: -10%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2120px;
  height: 600px;
  background-color: rgba(255, 102, 0, 0.678); /* Fona krāsa */
  z-index: 0; /* Aiz slīdera */
  border-radius: 40px;
}

.carousel__indicator--active {
  background-color: #ffffff;
}

.carousel__inner {
  transform: translateX(-500px); /* Перемещаем карусель на 100px влево */
  transition: transform 0.5s ease; /* Плавный переход для анимации перемещения */
}


.carousel__item {
  display: none;
}

.carousel__item--active {
  display: block;
}


.carousel__control {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel__control-icon {
  display: block;
  width: 36px;
  height: 36px;
  background: no-repeat center center;
  background-size: 36px 36px; 
}

.carousel__control--prev {
  left: -38%; /* Samazināts attālums no kreisās malas */
  background-color: rgba(245, 245, 220, 0.623);
  transition: 0.5s ease;
}

.carousel__control--prev:hover {
  background-color: rgb(245, 245, 220);
}

.carousel__control--next {
  right: -35%; /* Samazināts attālums no labās malas */
  background-color: rgba(245, 245, 220, 0.623);
  transition: 0.5s ease;
}


.carousel__control--next:hover {
  background-color: rgb(245, 245, 220);
}


.carousel__control-icon--prev {
  background-image: url("../../img/prev.svg");
}

.carousel__control-icon--next {
  background-image: url("../../img/next.svg");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.carousel__image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin-left: 100px;
  border-radius: 8px;
  filter: drop-shadow(0 0 12px rgb(181, 221, 191));
  transition: 0.5s ease;
  position: relative; /* Ensure the image stays in its place */
  z-index: 2; /* Higher z-index to appear above the info container */
}

.vram {
  position: absolute;
  width: 500px;
  right: 3%;
  top: 5%;
  transition: 0.3s ease;
}

.carousel__image:hover {
  transform: scale(1.1);
}

.vram:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 12px rgb(250, 250, 255));
}

.present {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: absolute;
  top: 110%;
  width: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000d2;
  padding: 10px;
  border-radius: 12px;
  color: rgb(94, 255, 0);
  font-size: 1.2rem;
  text-align: center;
  z-index: 1000;
}

.plus__icon {
  position: absolute;
  width: 220px; /* Pielāgojams platums */
  height: 220px; /* Pielāgojams augstums */
  top: 22%; /* Attālums no augšas */
  left: 30%; /* Attālums no kreisās malas */
  z-index: 3; /* Z-index, lai nodrošinātu, ka tas atrodas virs citiem elementiem */
  transition: transform 0.3s ease; /* Pāreja, kad tiek veikta darbība */
}

.plus__icon:hover {
  transform: scale(1.1); /* Nedaudz palielina attēlu, kad ir hover */
}

.gift {
  position: absolute;
  width: 430px; /* Pielāgojams platums */
  height: 430px; /* Pielāgojams augstums */
  top: -3%; /* Attālums no augšas */
  right: 5%; /* Attālums no labās malas */
  z-index: 3; /* Z-index, lai nodrošinātu, ka tas atrodas virs citiem elementiem */
  transition: transform 0.3s ease; /* Pāreja, kad tiek veikta darbība */
}

.gift:hover {
  transform: scale(1.05); /* Nedaudz pagriež un palielina attēlu, kad ir hover */
}



@media only screen and (min-width: 1920px) and (max-width: 1920px) {
  .carousel {
    margin-top: 100px;
  }

  .carousel__indicators {
    top: -25px; /* Palielināts attālums no augšas, lai paceltu uz augšu */
  }

  .carousel__indicator {
    height: 12px;
    width: 12px;
    margin: 0 5px;
  }

  .carousel_button {
    top: 80%;
    left: 83%;
    width: 180px; /* Mazāka poga */
    font-size: 14px; /* Nedaudz lielāks fonts */
  }

  .carousel__info {
    width: 1100px; /* Nedaudz mazāks platums */
    height: 400px;
    left: 35%; /* Pielāgota horizontālā pozīcija */
    top: -1%; /* Pielāgots augstums */
    padding: 30px; /* Samazināts padding */
  }

  .carousel__info h3 {
    margin-top: 15px;
    margin-left: -50px;
    font-size: 36px; /* Mazāks fonts */
  }

  .carousel__image {
    margin-right: 100px;
    margin-top: 25px;
    width: 20%; /* Pielāgots platums */
    height: auto; /* Ļauj augstumam pielāgoties */
    filter: drop-shadow(0 0 10px rgb(181, 221, 191)); /* Samazināts filteris */
  }

  .carousel__control {
    height: 40px;
    width: 40px;
  }

  .carousel__control-icon {
    width: 28px;
    height: 28px;
  }

  .carousel__control--prev {
    left: 1%; /* Pielāgots attālums no kreisās malas */
  }

  .carousel__control--next {
    right: 10%; /* Pielāgots attālums no labās malas */
  }

  .carousel__background {
    height: 500px; /* Samazināts augstums */
    border-radius: 20px; /* Samazināta noapaļotā stūru rādiusa */
  }

  .present {
    position: absolute;
    top: 121%;
    width: 550px;
    height: 43px;
  }

  .vram {
    margin-right: 41%;
    margin-top: 10px;
    width: 370px;
  }

  .carousel_button {
    margin-left: -30px;
    margin-top: 30px;
    width: 200px;
  }

  .gift {
    position: absolute;
    width: 350px; /* Pielāgojams platums */
    height: auto; /* Pielāgojams augstums */
    top: -6%; /* Attālums no augšas */
    right: 35%; /* Attālums no labās malas */
    z-index: 3; /* Z-index, lai nodrošinātu, ka tas atrodas virs citiem elementiem */
    transition: transform 0.3s ease; /* Pāreja, kad tiek veikta darbība */
  }
}

