@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

.carousel {
  position: relative;
  width: 100%;
  margin-top: -220px;
 
}

.carousel__indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -30px; /* Palielināts attālums no augšas, lai paceltu uz augšu */
  width: 100%;
  z-index: 10;
}

.carousel__indicator {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0 4px;
  cursor: pointer;
}

.carousel_button {
  position: absolute;
  top: 85%;
  left: 65%;
  padding: 10px 30px;
  border: none;
  background: #fff;
  color: #fff;
  width: 180px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 400;
  border-radius: 8px;
  transition: 0.5s;
  z-index: 1;
  --clr: #6eff3e; /* Set the green color */
}

.carousel_button:hover {
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

.carousel_button::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #151F28;
  z-index: -1;
  border-radius: 6px;
}

.carousel_button span {
  position: relative;
  z-index: 1;
}

.carousel_button i {
  position: absolute;
  inset: 0;
  display: block;
  z-index: 0;
}

.carousel_button i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #151F28;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.carousel_button:hover i::before {
  width: 20px;
  left: 20%;
}

.carousel_button i::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #151F28;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.carousel_button:hover i::after {
  width: 20px;
  left: 80%;
}

.carousel__info {
  position: absolute;
  left: 79%;
  top: 13%;
  flex: 0 0 400px; /* Platums informācijas stabam */
  margin-left: 20px;
  display: flex;
  flex-direction: column; /* Informācijas izvietošana vertikāli */
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid black;
  padding: 40px; /* Iekšējā atstarpe visiem malām */
  background-color: #ffffff1a; /* Pievienots fona krāsa, lai labāk izceltu tekstu */
  border-radius: 12px; /* Noapaļoti stūri, lai izskatās labāk */
  border: 1px solid #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  width: 600px;
  height: 420px;
}

.carousel__info h2 {
  margin-bottom: 20px;
  font-size: 24px;
  margin-top: auto; /* Pushes the price to the bottom of the container */
  font-weight: 300;
  color: #fff; /* White color for the price text */
  background-color: rgba(0, 0, 0, 0.233); /* Background color for better readability */
  padding: 10px 20px; /* Padding around the price text */
  border-radius: 8px; /* Rounded corners for the price box */
}

.carousel__info h3 {
  position: absolute;
  top: -35%;
  left: -70%;
  font-size: 42px;
  background-color: rgba(0, 0, 0, 0.829);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

/* Stilizēt specifikāciju nosaukumus */
.spec-label {
  color: #000000; 
  font-weight: bold; 
}

/* Stilizēt specifikācijas vērtības */
.spec-value {
  color: #ffffff; 
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.534);
}

.carousel__background {
  position: absolute;
  top: -10%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2120px;
  height: 600px;
  background-color: rgba(255, 102, 0, 0.678); /* Fona krāsa */
  z-index: 0; /* Aiz slīdera */
  border-radius: 40px;
}

.carousel__indicator--active {
  background-color: #ffffff;
}

.carousel__inner {
  transform: translateX(-500px); /* Перемещаем карусель на 100px влево */
  transition: transform 0.5s ease; /* Плавный переход для анимации перемещения */
}


.carousel__item {
  display: none;
}

.carousel__item--active {
  display: block;
}


.carousel__control {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel__control-icon {
  display: block;
  width: 36px; /* Palielināts bultas ikonas platums */
  height: 36px; /* Palielināts bultas ikonas augstums */
  background: no-repeat center center;
  background-size: 36px 36px; /* Palielināts bultas ikonas izmērs */
}

.carousel__control--prev {
  left: -38%; /* Samazināts attālums no kreisās malas */
  background-color: rgba(245, 245, 220, 0.623);
  transition: 0.5s ease;
}

.carousel__control--prev:hover {
  background-color: rgb(245, 245, 220);
}

.carousel__control--next {
  right: -15%; /* Samazināts attālums no labās malas */
  background-color: rgba(245, 245, 220, 0.623);
  transition: 0.5s ease;
}


.carousel__control--next:hover {
  background-color: rgb(245, 245, 220);
}


.carousel__control-icon--prev {
  background-image: url("../../img/prev.svg");
}

.carousel__control-icon--next {
  background-image: url("../../img/next.svg");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.carousel__image {
  width: 500px; /* Фиксированная ширина */
  height: 500px; /* Фиксированная высота */
  object-fit: cover; /* Обрезка изображения по контейнеру с сохранением пропорций */
  border-radius: 8px; /* Закругленные углы, если нужно */
  filter: drop-shadow(0 0 12px rgb(181, 221, 191));
  transition: 0.5s ease;
}

.vram {
  position: absolute;
  width: 500px;
  right: -20%;
  top: 2%;
  transition: 0.3s ease;
}

.carousel__image:hover {
  transform: scale(1.1);
}

.vram:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 12px rgb(250, 250, 255));
}

.present {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: absolute;
  top: 110%;
  width: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000d2;
  padding: 10px;
  border-radius: 12px;
  color: rgb(94, 255, 0);
  font-size: 1.2rem;
  text-align: center;
  z-index: 1000;
}



@media only screen and (min-width: 1920px) and (max-width: 1920px) {
  .carousel {
    margin-top: 100px; /* Mazāka negatīvā atstarpe, lai atbilstu ekrāna lielumam */
  }

  .carousel__indicators {
    top: -25px; /* Palielināts attālums no augšas, lai paceltu uz augšu */
  }

  .carousel__indicator {
    height: 12px;
    width: 12px;
    margin: 0 5px;
  }

  .carousel_button {
    top: 80%;
    left: 60%;
    width: 180px; /* Mazāka poga */
    font-size: 14px; /* Nedaudz lielāks fonts */
  }

  .carousel__info {
    width: 500px; /* Nedaudz mazāks platums */
    left: 64%; /* Pielāgota horizontālā pozīcija */
    top: -10%; /* Pielāgots augstums */
    padding: 30px; /* Samazināts padding */
  }

  .carousel__info h2 {
    font-size: 22px; /* Mazāks fonts */
  }

  .carousel__info h3 {
    font-size: 36px; /* Mazāks fonts */
  }

  .carousel__image {
    margin-right: 100px;
    margin-top: 10px;
    width: 25%; /* Pielāgots platums */
    height: auto; /* Ļauj augstumam pielāgoties */
    filter: drop-shadow(0 0 10px rgb(181, 221, 191)); /* Samazināts filteris */
  }

  .carousel__control {
    height: 40px;
    width: 40px;
  }

  .carousel__control-icon {
    width: 28px;
    height: 28px;
  }

  .carousel__control--prev {
    left: 1%; /* Pielāgots attālums no kreisās malas */
  }

  .carousel__control--next {
    right: 25%; /* Pielāgots attālums no labās malas */
  }

  .carousel__background {
    height: 500px; /* Samazināts augstums */
    border-radius: 20px; /* Samazināta noapaļotā stūru rādiusa */
  }

  .present {
    position: absolute;
    top: 100%;
    width: 550px;
  }

  .vram {
    margin-right: 43%;
    margin-top: -10px;
    width: 370px;
  }

  .carousel_button {
    margin-left: -30px;
    margin-top: 30px;
    width: 200px;
  }
}

