/* home.module.css */
.home {
  text-align: center;
  padding: 60px;
  background: url('../../img/bg.jpg');
}

.card_container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  padding: 10px;
  width: 450px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Pozicionē kartiņas relatīvi */
  transition: transform 0.3s ease;
}

.card:hover {
transform: scale(1.05);
}


.card img {
  max-width: 100%;
  max-height: 100%;
}

/* Maina 2. kartiņas attēla izmērus */
.card:nth-child(2) img {
  width: 450px; /* Platums 2. kartiņas attēlam */
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #333333da;
  color: #fff;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  width: 400px;
  height: auto;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  margin-top: 100px;
  opacity: 0; /* Sākotnējā redzamība */
  transition: opacity 0.3s ease, margin-top 0.3s ease; /* Pievieno pārejas efektu */
}

/* Parāda tooltip ar pāreju, kad pārnes pār elementu */
.tooltip_container:hover .tooltip {
  display: block;
  opacity: 1; /* Maina redzamību uz 1 */
  margin-top: 10px; /* Pārvieto tooltip tuvāk elementam ar pāreju */
}

.content-container {
  text-align: center;
  padding: 420px;
  background: green;
}

/* Apskates stili ekrāniem līdz 768px platumam */
@media (max-width: 768px) {
  .card {
    width: 45%; /* Kartītes aizņem 45% no konteinera platuma */
    height: auto;
  }

  .card img {
    max-width: 100%;
    height: auto;
  }

  .tooltip {
    width: 90%;
    max-width: 350px;
  }
}

/* Apskates stili ekrāniem līdz 480px platumam */
@media (max-width: 480px) {
  .card {
    width: 100%; /* Kartītes aizņem 100% no konteinera platuma */
    height: auto;
  }

  .tooltip {
    width: 100%;
    max-width: 300px;
    font-size: 12px;
  }

  .content-container {
    padding: 30px 15px;
  }
}