/* home.module.css */
.home {
  text-align: center;
  padding: 60px;
  background: url('../../img/bg.jpg');
  background-size: cover;
}

.card_container {
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  justify-content: space-around;
  gap: 80px;
  flex-wrap: wrap;
  
}

.card {
  padding: 10px;
  width: 450px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Pozicionē kartiņas relatīvi */
  transition: transform 0.3s ease;
}

.card:hover {
transform: scale(1.05);
}


.card img {
  max-width: 100%;
  max-height: 100%;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #333333da;
  color: #fff;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  width: 400px;
  height: auto;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  margin-top: 100px;
  opacity: 0;
  transition: opacity 0.3s ease, margin-top 0.3s ease;
}

.tooltip_container:hover .tooltip {
  display: block;
  opacity: 1; /* Maina redzamību uz 1 */
  margin-top: 10px; /* Pārvieto tooltip tuvāk elementam ar pāreju */
}

.content-container {
  text-align: center;
  padding: 420px;
  background: rgb(66, 61, 61);
  height: 500px;
}
@media (max-width: 1024px) {
  .card_container {
    justify-content: center; /* Центрируем карточки, если их меньше на линии */
  }
  

  .card {
    width: 45%; /* Карточки занимают 45% ширины контейнера */
    height: auto;
    margin-bottom: 20px; /* Добавляем отступ между карточками */
  }

  .card img {
    width: 100%; /* Изображение занимает всю ширину карточки */
    height: auto; /* Высота автоматически подстраивается под ширину */
  }

  .tooltip {
    width: 90%;
    max-width: 350px;
  }
}

/* Адаптивные стили для экранов шириной до 480px */
@media (max-width: 480px) {
  .card_container {
    flex-direction: column; /* Упорядочиваем карточки в колонку */
    align-items: center; /* Центрируем карточки по горизонтали */
  }

  .card {
    width: 100%; /* Карточки занимают 100% ширины контейнера */
    height: auto;
    margin-bottom: 20px; /* Добавляем отступ между карточками */
  }

  .card img {
    width: 100%; /* Изображение занимает всю ширину карточки */
    height: auto; /* Высота автоматически подстраивается под ширину */
  }

  .tooltip {
    width: 100%;
    max-width: 300px;
    font-size: 12px;
  }

  .content-container {
    padding: 30px 15px;
  }
}
