/* Общие стили, применяемые на всех устройствах */
.body-fixed {
  overflow: hidden; /* Скрываем прокрутку */
}

.navbar {
  padding: 0.5rem 1rem;
  background-color: #343a40;
  position: fixed; /* Фиксируем позицию */
  top: 0; /* Прикрепляем к верхней части экрана */
  left: 0; /* Прикрепляем к левой части экрана */
  width: 100%; /* Ширина на весь экран */
  z-index: 1000; /* Убедитесь, что навбар будет выше других элементов */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarBrand {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem;
}

.navbarBrand:hover {
  color: #e9ecef;
}

.navbarToggler {
  border: none;
  background: transparent;
}

.navbarTogglerIcon {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url('../../img/menu-regular-24.png');
  background-size: contain;
  border: 2px solid black;
  border-radius: 5px;
}

.offcanvas {
  background-color: #343a40;
  color: #f8f9fa;
}

.nav {
  display: flex;
  flex-direction: column;
}

.navLink {
  padding: 0.5rem 1rem;
  color: #f8f9fa;
}

.navLink:hover {
  color: #e9ecef;
}

.navDropdown {
  background-color: #343a40;
}

.navDropdownItem {
  color: #000000;
}

.navDropdownItem:hover {
  background-color: #495057;
}

.searchForm {
  display: flex;
  margin-top: 16px;
}

.searchInput {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #218838;
}

.formPushedDown {
  margin-top: 140px;
}

/* Адаптивные стили для экранов меньшего размера */

/* Для устройств шириной 768px и менее */
@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }

  .navbarBrand {
    font-size: 1rem; /* Уменьшаем размер шрифта */
  }

  .navbarTogglerIcon {
    width: 36px; /* Уменьшаем размер иконки */
    height: 36px;
  }

  .navLink {
    padding: 0.5rem 0.75rem; /* Уменьшаем отступы */
  }

  .searchForm {
    flex-direction: column; /* Выравниваем форму поиска по вертикали */
    margin-top: 8px;
  }

  .searchButton {
    margin-left: 0;
    margin-top: 8px;
    width: 100%; /* Кнопка занимает всю ширину */
  }
}

/* Для устройств шириной 576px и менее */
@media (max-width: 576px) {
  .navbarBrand {
    font-size: 0.875rem; /* Еще больше уменьшаем размер шрифта */
  }

  .navbarTogglerIcon {
    width: 32px; /* Уменьшаем размер иконки */
    height: 32px;
  }

  .navLink {
    padding: 0.5rem 0.5rem; /* Еще больше уменьшаем отступы */
  }

  .searchForm {
    margin-top: 4px; /* Уменьшаем отступ сверху */
  }

  .searchInput {
    padding: 6px; /* Уменьшаем внутренние отступы */
  }

  .searchButton {
    padding: 6px 12px; /* Уменьшаем размер кнопки */
  }
}
